In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
salary_data = pd.read_csv('/content/drive/MyDrive/Python Projects/Machine Learning Projects/SalaryPrediciton/hiring.csv')
salary_data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [ ]:
import math
test_score = salary_data['test_score(out of 10)']
test_score

0     8.0
1     8.0
2     6.0
3    10.0
4     9.0
5     7.0
6     NaN
7     7.0
Name: test_score(out of 10), dtype: float64

In [ ]:
mean_test_score = math.floor(test_score.mean())
mean_test_score

7

In [ ]:
salary_data['test_score(out of 10)'] = salary_data['test_score(out of 10)'].fillna(mean_test_score)
salary_data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    7.0                           7      72000
7     eleven                    7.0                           8      80000

In [ ]:
salary_data['experience'][2] = 5.0
salary_data['experience'][3] = 2.0
salary_data['experience'][4] = 7.0
salary_data['experience'][5] = 3.0
salary_data['experience'][6] = 10.0
salary_data['experience'][7] = 11.0
salary_data

<ipython-input-41-6c8cea266213>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_data['experience'][2] = 5.0
<ipython-input-41-6c8cea266213>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_data['experience'][3] = 2.0
<ipython-input-41-6c8cea266213>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_data['experience'][4] = 7.0
<ipython-input-41-6c8cea266213>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_data['experience'][5] = 3.0
<ipython-input-41-6c8cea266213>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_data['experience'][6] = 10.0
<ipython-input-41-6c8cea266213>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_data['experience'][7] = 11.0

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2        5.0                    6.0                           7      60000
3        2.0                   10.0                          10      65000
4        7.0                    9.0                           6      70000
5        3.0                    7.0                          10      62000
6       10.0                    7.0                           7      72000
7       11.0                    7.0                           8      80000

In [ ]:
salary_data['experience'] = salary_data['experience'].fillna(0)
salary_data

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         0.0                    8.0                           9      50000
1         0.0                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    7.0                           7      72000
7        11.0                    7.0                           8      80000

In [ ]:
reg = linear_model.LinearRegression()
reg.fit(salary_data[['experience','test_score(out of 10)','interview_score(out of 10)']],salary_data['salary($)'])

LinearRegression()

Using our linear regression model, we can predict the salaries for following candidates,

2 yr experience, 9 test score, 6 interview score

12 yr experience, 10 test score, 10 interview score

In [ ]:
reg.predict([[2,9,6],[12,10,10]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53713.86677124, 93747.79628651])